
// ---------------------------------------------------------------------
// Font family declarations
// ------------------------------------------------------------------------
   $FONT_ICONS: "curts-icons";
   $SERIF: "century-old-style-std", serif;
   $SANS_SERIF: Helvetica, Arial, sans-serif;

// ---------------------------------------------------------------------
// Font sizing/ line heights
// ------------------------------------------------------------------------

 $BASE_FONT_SIZE: 16px;
 $BASE_LINE_HEIGHT: 1.5;


/* ---------------------------------------------------------------------
 Colors
 Colors sorted by greyscale followed by roygbiv
 ------------------------------------------------------------------------ */

$WHITE: #ffffff;
$GREY_LIGHTER: #ededee;
$GREY_MEDIUM: #afadad;
$GREY: #575a5b;
$DARK: #302f46;
$DARK_SHADE: #282b39;
$ACCENT: #cd5645;

/* ---------------------------------------------------------------------
  Wood Table Background Image
 ------------------------------------------------------------------------ */
$TABLE: url('../images/table-bg.jpg');

// ---------------------------------------------------------------------
// Breakpoints
// Variable defining the resolution of the breakpoint(s)
// ------------------------------------------------------------------------

$DESKTOP_PLUS: "min-width: 1300px";
$DESKTOP: "min-width: 1025px";
$TABLET: "min-width: 800px";
$TABLET_PORTRAIT: "min-width: 736px";
$TABLETAndMOBILE: "max-width: 799px";
$MOBILE: "max-width: 735px";


// ---------------------------------------------------------------------
// Global Utilites
// Variable defining global measurments for general layout.
// ------------------------------------------------------------------------


$GLOBAL_WRAP_WIDTH: 1098px;
$BOX_PADDING: 48px;
$BOX_PADDING_LARGE: 72px;



