/* ---------------------------------------------------------------------
 Contact Styles
------------------------------------------------------------------------ */

.contactCurts {
    background-color: $DARK;
    color: $GREY_LIGHTER;
    width: 100%;
    height: 100%;
    padding: 24px 24px;
}

.contactCurts a {
    color: $ACCENT;
    letter-spacing: 0;
}

.contactCurts a:hover {
    color: $GREY_LIGHTER;
    @include transition (ease .3s);
}

@media ($TABLET) {
    .contactCurts {
        padding: $BOX_PADDING 28px;
    }
}

@media ($DESKTOP) {
    .contactCurts {
        padding: $BOX_PADDING_LARGE 28px;
    }
}
