/* ---------------------------------------------------------------------
 Flexslider | Base, Large and small slider styles 
 http://www.woothemes.com/flexslider/
------------------------------------------------------------------------ */

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0; background: none;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider_sm img {width: 100%; display: block;}
.flexslider_lrg img {height: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; max-width:100%; zoom: 1; z-index: 1; overflow: hidden; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 40px; height: 60px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: $DARK; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }

.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 1 !important; left: 0px; }
.flexslider:hover .flex-next { opacity: 1 !important; right: 0px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: $FONT_ICONS; font-size: 4em; display: inline-block; content: '\e011'; }
.flex-direction-nav a.flex-next:before  { z-index: 10; content: '\e00e'; }

/* Control Nav */
/*.flexslider_lrg .flex-control-nav { display:none; }*/
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

@media ($MOBILE) {
    .flexslider_lrg img {
      width: 100%;
      height: 800px;
    }

}

@media ($MOBILE) {
  .flexslider_lrg .slides img {
    height: 600px;
    display: block;
    padding-top: 72px;
    overflow-x: auto;
    max-width: none;  
  }

  .flex-viewport {
    bottom: 30px;
  }
}

  .flexslider_lrg {
    margin-top: 0;
    position: fixed;
    top: 0;
    bottom:0;
    left:0;
    right:0;
  }

  .flexslider_lrg img {
    max-width: none;
    width: 100%;
    height: 100%;
  }

  .flexslider_sm {
    height: 220px;
    overflow: hidden;
  }

  .flexslider_sm img {
    height: auto;
    min-height: 250px;
    bottom: 0;
  }

@media ($TABLET_PORTRAIT) {

  .flexslider_lrg {
    height: 800px;
  }

  .flexslider_lrg img {
    height: 700px;
  }


  .flexslider_lrg {
    padding-top: 0px;
  }

  .flexslider_lrg img {
      display: inherit;
      height: 600px;
    }

    .flexslider_sm {
    height: 300px;
  }

  .flexslider_sm img {
    height: auto;
    min-height: 300px;
    bottom: 0;
  }
}

@media ($DESKTOP) {
  .flexslider_lrg {
    padding-top: 0px;
  }
  .flexslider_lrg img {
      display: inherit;
      height: 800px;
    }
    .flexslider_sm {
    height: 300px;
  }
}
