/* ---------------------------------------------------------------------
 Grid Styles
------------------------------------------------------------------------ */

.grid {
    overflow: hidden;
}

.grid:before,
.grid:after {
    content: " ";
    display: table;
    box-sizing: border-box;
}

.grid:after {
    clear: both;
}

.grid_overflow:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

.grid {
    display: block;
}

.hasTestStyles .grid-col {
    background-color: $ACCENT;
    margin: 5px 0;
    padding: 5px;
}

.grid-col {
    width: 100%;
}

@media ($TABLET_PORTRAIT) {

}

@media ($TABLET) {

  /*****************************
      CUTTER GRID Styles
  *****************************/

    .grid-col {
        float: left;
    }

    .grid-col + .grid-col {
        margin-left: 2%;
    }

    .media_flip .grid-col + .media_flip .grid-col {
        margin-right: 2%;
    }

    .grid-col_1     { width: 6.5%; }
    .grid-col_2     { width: 15%; }
    .grid-col_3     { width: 23.5%; }
    .grid-col_4     { width: 32%; }
    .grid-col_5     { width: 40.5%; }
    .grid-col_6     { width: 49%; }
    .grid-col_7     { width: 57.49999%; }
    .grid-col_8     { width: 66%; }
    .grid-col_9     { width: 74.5%; }
    .grid-col_10    { width: 83%; }
    .grid-col_11    { width: 91.5%; }
    .grid-col_12    { width: 100%; }

    .grid-col.grid-col_push1                { margin-left: 10.5%; }
    .grid-col.grid-col_push1:first-child    { margin-left: 8.5%; }

    .grid-col.grid-col_push2                { margin-left: 19%; }
    .grid-col.grid-col_push2:first-child    { margin-left: 17%; }

    .grid-col.grid-col_push3                { margin-left: 27.5%; }
    .grid-col.grid-col_push3:first-child    { margin-left: 25.5%; }

    .grid-col.grid-col_push4                { margin-left: 36%; }
    .grid-col.grid-col_push4:first-child    { margin-left: 34%; }

    .grid-col.grid-col_push5                { margin-left: 44.5%; }
    .grid-col.grid-col_push5:first-child    { margin-left: 42.5%; }

    .grid-col.grid-col_push6                { margin-left: 53%; }
    .grid-col.grid-col_push6:first-child    { margin-left: 51%; }

    .grid-col.grid-col_push7                { margin-left: 61.49999%; }
    .grid-col.grid-col_push7:first-child    { margin-left: 59.49999%; }

    .grid-col.grid-col_push8                { margin-left: 70%; }
    .grid-col.grid-col_push8:first-child    { margin-left: 68%; }

    .grid-col.grid-col_push9                { margin-left: 78.5%; }
    .grid-col.grid-col_push9:first-child    { margin-left: 76.5%; }

    .grid-col.grid-col_push10               { margin-left: 87%; }
    .grid-col.grid-col_push10:first-child   { margin-left: 85%; }

    .grid-col.grid-col_push11               { margin-left: 95.5%; }
    .grid-col.grid-col_push11:first-child   { margin-left: 93.5%; }

    /*****************************
      FLUSH GRID Styles
    *****************************/

    .grid_flush > .grid-col + .grid-col {
        margin-left: 0;
    }

    .grid_flush .grid-col_1     { width: 8.33333%; }
    .grid_flush .grid-col_2     { width: 16.64%; }
    .grid_flush .grid-col_3     { width: 25%; }
    .grid_flush .grid-col_4     { width: 33.33333%; }
    .grid_flush .grid-col_5     { width: 41.66667%; }
    .grid_flush .grid-col_6     { width: 50%; }
    .grid_flush .grid-col_7     { width: 58.33333%; }
    .grid_flush .grid-col_8     { width: 66.66667%; }
    .grid_flush .grid-col_9     { width: 75%; }
    .grid_flush .grid-col_10    { width: 83.33333%; }
    .grid_flush .grid-col_11    { width: 91.66667%; }
    .grid_flush .grid-col_12    { width: 100%; }

    .grid_flush .grid-col.grid-col_push1    { margin-left: 8.33333%; }
    .grid_flush .grid-col.grid-col_push2    { margin-left: 16.66667%; }
    .grid_flush .grid-col.grid-col_push3    { margin-left: 25%; }
    .grid_flush .grid-col.grid-col_push4    { margin-left: 33.33333%; }
    .grid_flush .grid-col.grid-col_push5    { margin-left: 41.66667%; }
    .grid_flush .grid-col.grid-col_push6    { margin-left: 50%; }
    .grid_flush .grid-col.grid-col_push7    { margin-left: 58.33333%; }
    .grid_flush .grid-col.grid-col_push8    { margin-left: 66.66667%; }
    .grid_flush .grid-col.grid-col_push9    { margin-left: 75%; }
    .grid_flush .grid-col.grid-col_push10   { margin-left: 83.33333%; }
    .grid_flush .grid-col.grid-col_push11   { margin-left: 91.66667%; }

}