
/* ---------------------------------------------------------------------
 Horizontal List Styles
------------------------------------------------------------------------ */

.hList {
	overflow: auto;
}

.hList > li {
    float: left;
}


