
/* ---------------------------------------------------------------------
  Link & Button Styles
------------------------------------------------------------------------ */

.textLink {
	color: $ACCENT;
	letter-spacing: 0;
	line-height: 1.6;
	font-family: $SANS_SERIF;
}

.textLink_em {
	text-decoration: underline;
	display: block;
	margin-top: 16px;
}

.em {
	text-decoration: underline;
	display: inline-block;
	color: $GREY_LIGHTER;
	font-size: 1em;
}

.textLink:hover {
	color: $GREY_LIGHTER;
	@include transition( ease .5s);
}

.mix-txt_underline {
	text-decoration: underline;
}

.btn {
	border: 2px solid;
	display: inline-block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: $SERIF;
    padding: 16px 0;
    cursor: pointer;
}

.btn_std {
	width: 244px;
	display: block;
}

.btn_dark {
	border-color: $DARK;
	color: $DARK;
}

.btn_dark:hover {
	background-color: $DARK;
	color: $GREY_LIGHTER;
	@include transition( ease .5s);
}

.btn_light {
	border-color: $GREY_LIGHTER;
	color: $GREY_LIGHTER;
}

.btn_light:hover {
	background-color: $GREY_LIGHTER;
	color: $DARK;
	@include transition( ease .5s);
}