
/* ---------------------------------------------------------------------
 Shop Styles
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Product Filter Styles
------------------------------------------------------------------------ */

.searchable {
    visibility: visible;
    opacity: 100;
    @include transition(all .5s ease);
}

.searchable.notInResults {
    visibility: hidden;
    max-height: 0;
    margin-bottom: 0;
    opacity: 0;
}

.simpleSearchList {
	overflow: hidden;
	font-family: $SERIF;
	color: $GREY_MEDIUM;
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 14px;
}

.simpleSearchList > * {
	color: $GREY_LIGHTER;
    padding: 12px 10px ;
    border-bottom: 1px solid $DARK_SHADE;
}

.simpleSearchList > *:hover {
	color: $ACCENT;
	@include transition(all .2s ease);
}

/* ---------------------------------------------------------------------
 Shop Product Styles
------------------------------------------------------------------------ */

.collection {
	clear: both;
}

.shopProduct {
	margin-bottom: 72px;
}

.productList {
	overflow: hidden;
	width: 100%;
	margin: auto;
}

.productList-collection {
	width: 100%;
	overflow: hidden;
}

.productList-collection > * {
	width: 50%;
	padding: 10px;
	float: left;
}

@media ($MOBILE) {
	.simpleSearchList > * {
		border-bottom: 1px solid $DARK_SHADE;
		margin-right: 0;
		float: none;
	}

	.simpleSearchList > *:hover {
		background: $DARK_SHADE;
		color: $ACCENT;
	}
}

@media ($TABLET_PORTRAIT) {
	.simpleSearchList > *, .dropDownMenu-title {
		margin-right: 12px;
		cursor: pointer;
		padding: 6px;
		float: left;
		color: $GREY_MEDIUM;
		border-bottom: none;
	}

	.dropDownMenu-title {
		color: $DARK;
	}

}

@media ($TABLET) {
	.productList-collection > * {
		width: 33.33333%;
	}
}

@media ($DESKTOP) {
	.productList-collection > * {
		width: 25%;
	}
}

.shopProduct-image {
	margin-bottom: 12px;
}

.shopProduct-image img {
	width: 100%;
	margin-bottom: 12px;
}


.shopProduct-title {
	text-align: center;
	color: $DARK;
	margin-bottom: 24px;
}

.shopProduct-description {
	font-size: 13px;
}

.shopProduct-addToCart {
	padding: 12px 16px;
	font-size: 12px;
}

.is-currentFilter {
	color: $ACCENT;
	text-decoration: underline;
}
