
/* ---------------------------------------------------------------------
 OVERWRITING snipcart's css
------------------------------------------------------------------------ */
@import "https://app.snipcart.com/themes/base/snipcart.css";


#snipcart-overlay {
    background: none;
    background-color: #333131 !important;
    opacity: 0.5 !important;
    -webkit-opacity: 0.85 !important;
    z-index: 5;
}

#snipcart-header {
    position: relative;
    height: 105px;
    background: $DARK !important;
}

#snipcart-footer {
    background: $DARK !important;
}

#snipcart-main-container {
    top: 15%;
}

.globalHeader-cart_icon, .globalHeader-cart_text {
    color: $ACCENT !important;
}

#snipcart-header #snipcart-title {
    font: 600 24px/108px 'Helvetica', Arial, sans-serif !important;
}

#snipcart-header #snipcart-total span {
    font: 600 16px/38px 'Helvetica', Arial, sans-serif !important;   
}

#snipcart-main-container div#snipcart-actions, #snipcart-main-container div.snipcart-additional-option {
    background: $WHITE !important;
}

#snipcart-main-container table.snipcart-list span.snipcart-product-name,
#snipcart-main-container table.snipcart-list span.snipcart-shipping-method-name,
#snipcart-main-container table.snipcart-list span.snipcart-shipping-method-price,
#snipcart-main-container table.snipcart-list span.snipcart-confirm-item-quantity,
#snipcart-main-container table.snipcart-list span.snipcart-confirm-item-price,
#snipcart-main-container table.snipcart-list span.snipcart-confirm-item-total-price,
#snipcart-main-content .snipcart-column span.snipcart-title,
#snipcart-step-content-emptycart .snipcart-full-width-text p,
#snipcart-main-container span.snipcart-unit-price, #snipcart-main-container span.snipcart-total-price {
    font: 600 15px 'Helvetica', Arial, sans-serif !important;
}

#snipcart-main-container label,
#snipcart-main-container table.snipcart-list th,
ul#snipcart-steps li span.snipcart-step-text {
    font: 600 11px 'Helvetica', Arial, sans-serif !important;
}

.snipcart-btn,
.snipcart-next {
    font: normal 400 12px/1.5 "century-old-style-std",sans-serif !important;
    text-shadow: none !important;
    background: none !important;
    border-radius: 0 !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    height: 36px !important;
    line-height: 36px !important;
    box-shadow: none !important;
}

#snipcart-cartitems-continue-top {
    margin-top: 7px !important;
    line-height: 34px !important;
    height: 36px !important;
    background-color: none !important;  
    border: 2px solid $GREY_LIGHTER !important;
    color: $GREY_LIGHTER !important;
}

@media (max-width: 340px) {

    #snipcart-cartitems-continue-top {
        padding-left: 6px !important;
        padding-right: 6px !important;
    }

}


#snipcart-cartitems-continue-top:hover {
    @include transition (ease .3s );
    background: $GREY_LIGHTER !important;
    color: $DARK !important;                
}

#snipcart-cartitems-checkout {
   background: $DARK !important;
   border: 2px solid $DARK !important;
   color: $GREY_LIGHTER !important;
}

#snipcart-cartitems-checkout:hover {
    @include transition (ease .3s );
    background: $ACCENT !important;
    border: 2px solid $ACCENT !important;
}

.snipcart-mainaction, .snipcart-action {
    border: 2px solid $DARK !important;
    margin-top: 24px !important;
    height: 38px !important;
    color: $DARK !important;
}

.snipcart-mainaction:hover, .snipcart-action:hover {
    @include transition (ease .3s );
    background:$DARK !important;
    color: $GREY_LIGHTER !important;
}

.snipcart-previous, .snipcart-apply-promocode {
    color: $DARK !important;
    border: none !important;
}

.snipcart-previous:before {
    content:"< ";
}

.snipcart-previous:hover {
    color: $ACCENT !important;
    background: none !important;
}

#snipcart-promocodes div.snipcart-error-message {
    font: normal 400 12px/1.5 "century-old-style-std",sans-serif !important;
    letter-spacing: 2px !important
}

#snipcart-login-forgotpassword-link {
    color: $ACCENT !important;
    font: normal 400 12px/1.5 "century-old-style-std",sans-serif !important;
    text-decoration: underline !important;
    margin: 6px 0 24px 0 !important;
    display: block !important;
}

#snipcart-close {
    height: 30px !important;
    width: 30px !important;
    font-size: 24 !important;
    background: none;
    text-indent: 0 !important;
    font-size: 0 !important;
}

#snipcart-close:before {
    @extend .icon;
    @extend .icon-close:before;
    font-size: 33px;
    color: $WHITE;
}

.notouch #snipcart-close:hover:before {
    color: $ACCENT;
    @include transition(all 0.15s ease-in)
}

/* Form Elements */
#snipcart-main-container input[type=text], #snipcart-main-container input[type=password] {
    border-radius: 0 !important
}

@media (max-width: 580px) {

    #snipcart-header #snipcart-title {
        font: bold 18px/32px 'Helvetica', Arial, sans-serif !important;
        height: 30px !important;
    }

    #snipcart-header-total {
        position: relative;
        right: 10px !important;
    }

}


#snipcart-powered, #snipcart-powered > .real-link {
    float: left !important;
    display: block !important;
    width: 100px !important;
    height: 45px !important;
    text-shadow: none !important;
    font-size: 50%;
}

#snipcart-main-container table#snipcart-items .snipcart-item-quantity-triggers a {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    width: 17px !important;
    padding: 0 4px !important;
}

a.snipcart-minus-quantity {
    line-height: 16px !important;
    padding: 0 6px !important;
}

#snipcart-header #snipcart-header-total {
margin-top: 51px !important;
margin-right: 65px !important;
border: 2px solid $DARK_SHADE;
}

