
/* ---------------------------------------------------------------------
 Typography Styles
------------------------------------------------------------------------ */

/* Heading Styles */
.hdg {
    display: block;
    font-family: $SANS_SERIF;
    font-weight: bold;
    color: $GREY_LIGHTER;
    line-height: 1.4;
}

.hdg_1 {
    font-size: 24px;
}

.hdg_2 {
    font-size: 16px;
}

.hdg_huge {
    font-size: 46px;
    line-height: .9;
    margin-left: -2px;
}

.hdg_lrg {
    font-size: 36px;
    line-height: 1.2;
}

/* Body Copy Styles */
.bdcpy {
    font-family: $SANS_SERIF;
    letter-spacing: .05em;
    line-height: 1.6;
    font-size: 14px;
    display: block;
}

.bdcpy_lrg {
    font-size: 17px;
    max-width: 460px;
    margin-top: 12px;
}

.bdcpy_sm {
    font-size: 12px;
}

/* Body Copy */
.wrapperFull_dark .bdcpy {
    color: $GREY_MEDIUM;
}

.wrapperFull_light .bdcpy, .wrapperFull_white .bdycpy {
    color: $GREY;
}

/* Spacing Styles */
.hdg + .bdcpy,
.bdcpy + .hdg,
.bdcpy + .bdcpy,
.hdg_1 + .hdg_2,
figure + .btn {
    margin-top: 16px;
}

.bdcpy + .btn {
    margin-top:24px;
}

.bdcpy_sm + .bdcpy_sm {
    margin-top: 8px;
}

.hdg + .btn,
.hdg + .hList,
.hList + .hdg {
    margin-top: 48px;
}

/* Adjustment Styles */
@media ($TABLET_PORTRAIT){
    .hdg_huge {
        font-size: 83px;
    }

    .hdg_lrg {
        font-size: 52px;
    }
}

@media ($TABLET){
    .bdcpy {
        max-width: 538px;
    }

    .hdg_huge {
        font-size: 108px;
        margin-left: -10px;
    }

    .hdg_lrg {
        font-size: 72px;
    }
}

@media ($DESKTOP){
    .hdg_huge {
        font-size: 120px;
        margin-left: -10px;
    }

    .hdg_lrg {
        font-size: 72px;
    }
}

/* Mix Classes */
.mix-txt_block_lrg {
    display: block;
    margin: auto;
    max-width: 600px;
}

.mix-txt_intro {
    font-size: 28px;
}

.mix-txt_dark {
    color: $DARK;
}

.mix-txt_accent {
    color: $ACCENT !important;
}

.mix-txt_light {
    color: $GREY_LIGHTER;
}
