
/* ---------------------------------------------------------------------
 Web Fonts.
------------------------------------------------------------------------ */

@font-face {
	font-family: 'curts-icons';
	src:url('../fonts/curts-icons.eot');
	src:url('../fonts/curts-icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/curts-icons.woff') format('woff'),
		url('../fonts/curts-icons.ttf') format('truetype'),
		url('../fonts/curts-icons.svg#curts-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}



