
/* ---------------------------------------------------------------------
 Base Global Styles
------------------------------------------------------------------------ */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/**
 * Standardize the baseline font
 *
 * 1. Using interpolation to fix the time where sass gets the `/` wrong and acts as division
 */
html,
body,
input,
button,
select,
textarea {
    /**
    *
    *
    * font: normal 400 {$BASE_FONT_SIZE}/$BASE_LINE_HEIGHT $SANS_SERIF; 
    */
    /* color: $GREY_DARKER; */
}

a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
}

a[href="#"] {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    /* @include user-select(none); */
}

a:hover {
    cursor: pointer;
}

a:active {
    /* color: $GREY_DARKER; */
}


audio {
    width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

sup {
    font-size: 50%;
    vertical-align:top;
}

::selection {
    background-color: $ACCENT; /* Safari */
    color: $GREY_LIGHTER;
    }
::-moz-selection {
    background-color: $ACCENT; /* Safari */
    color: $GREY_LIGHTER;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

hr {
    padding: 0;
    width: 100%;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin-bottom: 48px;
}