/* ---------------------------------------------------------------------
 Global Header & Navigation Styles
------------------------------------------------------------------------ */

.globalHeader {
    background-color: $DARK;
    height: 72px;
    padding: 0 2%;
    position: relative;
    z-index: 10000;
}

.globalLogo {
  width: 217px;
  height: 30px;
  padding-top: 4px;
}

.globalLogo-text {
    text-indent: -9999px;
    height: 0;
}

.globalNav > * {
    float: right;
}

.globalNav-list a {
    color: $GREY_LIGHTER;
    font-family: $SERIF;
    font-size: 12px;
}

.globalHeader-cart > * {
    display: inline-block;
}

.globalHeader-cart_icon {
    font-size: 1em;
    cursor: pointer;
}


@media ($TABLET) {

    .main {
        padding-top: 72px;
        position: relative;
        z-index: 5;
        display: block;
    }

    .globalHeader {
        padding: 0 4.25%;
        position: fixed;
    }

    .globalNav a:hover {
        cursor: pointer;
        color: $ACCENT;
        @include transition( ease .25s );
    }

    .globalNav-list > * {
        float: left;
        padding: 14px 9px 12px 9px;
    }

    .globalNav-list > *:hover {
        color: $ACCENT;
        @include transition( ease .25s );
    }

    .mobileMenuIcon {
        display: none;
    }
}

@media ($DESKTOP) {
    .globalNav-list > * {
        padding: 14px 12px 12px 12px;
    }
}

/* Mobile Slide Out Menu */
@media ($TABLETAndMOBILE){
    .gloablNav > * {
        float: left;
    }

    .mobileMenuIcon {
        font-size: 30px;
        color: $GREY_LIGHTER;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 2%;
    }

    .mobileMenuIcon:before {
        content: "\e006";
    }

    .cbp-spmenu {
        background: $DARK;
        position: fixed;
    }

    .globalNav-title {
        padding: 19px 0;
        text-align: center;
        margin: 0;
        border-bottom: 1px solid $DARK_SHADE;
    }

    .cbp-spmenu a {
        display: block;
        width: 100%
    }

    .cbp-spmenu > * {
        width: 100%
    }

    .cbp-spmenu a:hover {
        background: $DARK_SHADE;
        color: $ACCENT;
        @include transition( ease .25s);
    }

    .cbp-spmenu a:active {
        color: $DARK;
    }

    .cbp-spmenu-vertical {
        width: 240px;
        height: 100%;
        top: 0;
        z-index: 1000;
    }

    .cbp-spmenu-vertical a {
        border-bottom: 1px solid $DARK_SHADE;
        padding: 1.3em;
    }

    .cbp-spmenu-right {
        right: -240px;
    }

    .cbp-spmenu-left.cbp-spmenu-open {
        left: 0px;
    }

    .cbp-spmenu-right.cbp-spmenu-open {
        right: 0px;
    }

    .cbp-spmenu-push {
        overflow-x: hidden;
        position: relative;
        left: 0;
    }

    .cbp-spmenu-push-toleft {
        left: -240px;
    }

    .cbp-spmenu,
    .cbp-spmenu-push {
        @include transition( ease .3s);
    }

}
