
/* ---------------------------------------------------------------------
 Global Footer Styles
------------------------------------------------------------------------ */

.globalFooter {
    background-color: $DARK;
    color: $GREY_LIGHTER;
    font-family: $SERIF;
    padding: 24px 55px;
    position: relative;
    z-index: 1000;
    overflow: hidden;
}

.globalFooter-icons {
    float: right;
    font-size: 1.2em;
    color: $GREY_LIGHTER;
}

.globalFooter-legalCopy {
    float: left;
}

.globalFooter-legalCopy > * {
    margin-top: 14px;
    display: block;
    font-size: 13px;
    font-family: $SERIF;
    line-height: 1.6;
}

.globalFooter > *:before,
.globalFooter > *:after {
    content: " ";
    display: table;
}

.globalFooter > *:after {
    clear: both;
}

@media ($TABLETAndMOBILE) {
    .globalFooter > * {
        width: 100%;
        clear: both;
        display: block;
        text-align: center;
        padding: 12px 2%;
    }
}