@import "https://app.snipcart.com/themes/base/snipcart.css";
/* ---------------------------------------------------------------------
 Colors
 Colors sorted by greyscale followed by roygbiv
 ------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
  Wood Table Background Image
 ------------------------------------------------------------------------ */
/* --------------------------------
    Original Author: Name
    Contributors: N/A
    Target Browsers: All Modern & IE9 +
    Media Type: Screen, Projection
    Width: 1450, 1024, 800, 480
   --------------------------------- */
/* ---------------------------------------------------------------------
 CSS Reset (Thanks Eric Meyer)
 ------------------------------------------------------------------------ */
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
  overflow-y: scroll; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, main, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Removes the clear "x" that is put in by IE10 browser */
input::-ms-clear {
  width: 0;
  height: 0; }

/* ---------------------------------------------------------------------
 Base Global Styles
------------------------------------------------------------------------ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Standardize the baseline font
 *
 * 1. Using interpolation to fix the time where sass gets the `/` wrong and acts as division
 */
html,
body,
input,
button,
select,
textarea {
  /**
  *
  *
  * font: normal 400 {$BASE_FONT_SIZE}/$BASE_LINE_HEIGHT $SANS_SERIF; 
  */
  /* color: $GREY_DARKER; */ }

a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 2px; }

a[href="#"] {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* @include user-select(none); */ }

a:hover {
  cursor: pointer; }

a:active {
  /* color: $GREY_DARKER; */ }

audio {
  width: 100%; }

img {
  height: auto;
  max-width: 100%; }

sup {
  font-size: 50%;
  vertical-align: top; }

::selection {
  background-color: #cd5645;
  /* Safari */
  color: #ededee; }

::-moz-selection {
  background-color: #cd5645;
  /* Safari */
  color: #ededee; }

.group:after {
  content: "";
  display: table;
  clear: both; }

hr {
  padding: 0;
  width: 100%;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  margin-bottom: 48px; }

/* ---------------------------------------------------------------------
 Web Fonts.
------------------------------------------------------------------------ */
@font-face {
  font-family: 'curts-icons';
  src: url("../fonts/curts-icons.eot");
  src: url("../fonts/curts-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/curts-icons.woff") format("woff"), url("../fonts/curts-icons.ttf") format("truetype"), url("../fonts/curts-icons.svg#curts-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ---------------------------------------------------------------------
 Icon Font Styles
------------------------------------------------------------------------ */
.icon, #snipcart-close:before, .logo {
  font-family: "curts-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  display: inline-block;
  font-size: 2em; }

.icon + .icon, #snipcart-close:before + .icon, .icon + #snipcart-close:before, #snipcart-close:before + #snipcart-close:before {
  padding-left: 12px; }

.icon_light {
  color: #ededee; }

.icon_accent {
  color: #cd5645; }

.icon_dark {
  color: #302f46; }

a > .icon:hover, a > #snipcart-close:hover:before {
  color: #cd5645;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s; }

a > .icon_accent:hover {
  color: #ededee;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s; }

@media (max-width: 735px) {
  .icon_buyLink {
    font-size: 4em;
    margin: 36px 16px; }

  .icon_buyLink_sm {
    font-size: 2.3em; }

  .icon_buyLink_sm2 {
    font-size: 1.6em; } }
.icon_buyLink {
  font-size: 3em;
  margin: 36px 10px; }

.icon_buyLink_sm {
  font-size: 2.1em; }

.icon_buyLink_sm2 {
  font-size: 1.3em; }

@media (min-width: 800px) {
  .icon_buyLink {
    font-size: 3em;
    margin: 36px 16px; }

  .icon_buyLink_sm {
    font-size: 2em; }

  .icon_buyLink_sm2 {
    font-size: 1.6em; } }
@media (min-width: 1025px) {
  .icon_buyLink {
    font-size: 4em;
    margin: 36px 16px; }

  .icon_buyLink_sm {
    font-size: 2.3em; }

  .icon_buyLink_sm2 {
    font-size: 1.6em; } }
.toTop {
  position: fixed;
  bottom: 24px;
  right: 12px;
  z-index: 5000;
  font-size: 1.2em;
  color: #282b39;
  cursor: pointer; }

.toTop:hover {
  color: #cd5645 !important;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

.icon-cart:before {
  content: "\e000"; }

.icon-cart-2:before {
  content: "\e002"; }

.icon-spinner:before {
  content: "\e004"; }

.icon-basket-1:before {
  content: "\e875"; }

.icon-basket:before {
  content: "\e80d"; }

.icon-spin6:before {
  content: "\e837"; }

.icon-twitter-circled:before {
  content: "\e803"; }

.icon-facebook-circled:before {
  content: "\e802"; }

.icon-burger:before {
  content: "\e006"; }

.icon-byerlys:before {
  content: "\e007"; }

.icon-curts:before {
  content: "\e009"; }

.icon-jar2:before {
  content: "\e00d"; }

.icon-lunds:before {
  content: "\e00f"; }

.icon-target:before {
  content: "\e010"; }

.icon-kowalskis:before {
  content: "\e005"; }

.icon-hornbachers:before {
  content: "\e008"; }

.icon-festival:before {
  content: "\e00a"; }

.icon-cub:before {
  content: "\e00b"; }

.icon-arrow-right:before {
  content: "\e00e"; }

.icon-arrow-left:before {
  content: "\e011"; }

.icon-jar:before {
  content: "\e001"; }

/* ---------------------------------------------------------------------
 Global Footer Styles
------------------------------------------------------------------------ */
.globalFooter {
  background-color: #302f46;
  color: #ededee;
  font-family: "century-old-style-std", serif;
  padding: 24px 55px;
  position: relative;
  z-index: 1000;
  overflow: hidden; }

.globalFooter-icons {
  float: right;
  font-size: 1.2em;
  color: #ededee; }

.globalFooter-legalCopy {
  float: left; }

.globalFooter-legalCopy > * {
  margin-top: 14px;
  display: block;
  font-size: 13px;
  font-family: "century-old-style-std", serif;
  line-height: 1.6; }

.globalFooter > *:before,
.globalFooter > *:after {
  content: " ";
  display: table; }

.globalFooter > *:after {
  clear: both; }

@media (max-width: 799px) {
  .globalFooter > * {
    width: 100%;
    clear: both;
    display: block;
    text-align: center;
    padding: 12px 2%; } }
/* ---------------------------------------------------------------------
 Global Page Wrap Styles
------------------------------------------------------------------------ */
.main {
  position: relative;
  max-width: 100%;
  z-index: 5; }

@media (min-width: 800px) {
  .main {
    padding-top: 72px;
    position: relative;
    z-index: 5;
    display: block; } }
.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1098px;
  overflow: hidden; }

@media (max-width: 735px) {
  .wrapper {
    width: 96%;
    margin: auto;
    max-width: 100%; } }
@media (min-width: 736px) {
  .wrapper {
    width: 96%;
    max-width: 800px; } }
@media (min-width: 800px) {
  .wrapper {
    max-width: 1028px; } }
@media (min-width: 1025px) {
  .wrapper {
    max-width: 1000px; } }
@media (min-width: 1300px) {
  .wrapper {
    max-width: 1250px; } }
.wrapperFull {
  width: 100%;
  max-width: 100%;
  overflow: hidden; }

.wrapperFull_main {
  display: block;
  position: relative;
  z-index: 10; }

.wrapperFull_spread {
  padding: 72px 0; }

.wrapperFull_white {
  background-color: white; }

.wrapperFull_light {
  background-color: #ededee; }

.wrapperFull_dark {
  background-color: #302f46; }

.wrapperFull_wood {
  background: url("../images/table-bg.jpg"); }

.wrapper_cover {
  width: 96%;
  max-width: 100%;
  overflow: hidden; }

/* ---------------------------------------------------------------------
 Global Header & Navigation Styles
------------------------------------------------------------------------ */
.globalHeader {
  background-color: #302f46;
  height: 72px;
  padding: 0 2%;
  position: relative;
  z-index: 10000; }

.globalLogo {
  width: 217px;
  height: 30px;
  padding-top: 4px; }

.globalLogo-text {
  text-indent: -9999px;
  height: 0; }

.globalNav > * {
  float: right; }

.globalNav-list a {
  color: #ededee;
  font-family: "century-old-style-std", serif;
  font-size: 12px; }

.globalHeader-cart > * {
  display: inline-block; }

.globalHeader-cart_icon {
  font-size: 1em;
  cursor: pointer; }

@media (min-width: 800px) {
  .main {
    padding-top: 72px;
    position: relative;
    z-index: 5;
    display: block; }

  .globalHeader {
    padding: 0 4.25%;
    position: fixed; }

  .globalNav a:hover {
    cursor: pointer;
    color: #cd5645;
    -webkit-transition: ease 0.25s;
    -moz-transition: ease 0.25s;
    -o-transition: ease 0.25s;
    transition: ease 0.25s; }

  .globalNav-list > * {
    float: left;
    padding: 14px 9px 12px 9px; }

  .globalNav-list > *:hover {
    color: #cd5645;
    -webkit-transition: ease 0.25s;
    -moz-transition: ease 0.25s;
    -o-transition: ease 0.25s;
    transition: ease 0.25s; }

  .mobileMenuIcon {
    display: none; } }
@media (min-width: 1025px) {
  .globalNav-list > * {
    padding: 14px 12px 12px 12px; } }
/* Mobile Slide Out Menu */
@media (max-width: 799px) {
  .gloablNav > * {
    float: left; }

  .mobileMenuIcon {
    font-size: 30px;
    color: #ededee;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 2%; }

  .mobileMenuIcon:before {
    content: "\e006"; }

  .cbp-spmenu {
    background: #302f46;
    position: fixed; }

  .globalNav-title {
    padding: 19px 0;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #282b39; }

  .cbp-spmenu a {
    display: block;
    width: 100%; }

  .cbp-spmenu > * {
    width: 100%; }

  .cbp-spmenu a:hover {
    background: #282b39;
    color: #cd5645;
    -webkit-transition: ease 0.25s;
    -moz-transition: ease 0.25s;
    -o-transition: ease 0.25s;
    transition: ease 0.25s; }

  .cbp-spmenu a:active {
    color: #302f46; }

  .cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000; }

  .cbp-spmenu-vertical a {
    border-bottom: 1px solid #282b39;
    padding: 1.3em; }

  .cbp-spmenu-right {
    right: -240px; }

  .cbp-spmenu-left.cbp-spmenu-open {
    left: 0px; }

  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0px; }

  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0; }

  .cbp-spmenu-push-toleft {
    left: -240px; }

  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; } }
/* ---------------------------------------------------------------------
 Typography Styles
------------------------------------------------------------------------ */
/* Heading Styles */
.hdg {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #ededee;
  line-height: 1.4; }

.hdg_1 {
  font-size: 24px; }

.hdg_2 {
  font-size: 16px; }

.hdg_huge {
  font-size: 46px;
  line-height: .9;
  margin-left: -2px; }

.hdg_lrg {
  font-size: 36px;
  line-height: 1.2; }

/* Body Copy Styles */
.bdcpy {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: .05em;
  line-height: 1.6;
  font-size: 14px;
  display: block; }

.bdcpy_lrg {
  font-size: 17px;
  max-width: 460px;
  margin-top: 12px; }

.bdcpy_sm {
  font-size: 12px; }

/* Body Copy */
.wrapperFull_dark .bdcpy {
  color: #afadad; }

.wrapperFull_light .bdcpy, .wrapperFull_white .bdycpy {
  color: #575a5b; }

/* Spacing Styles */
.hdg + .bdcpy,
.bdcpy + .hdg,
.bdcpy + .bdcpy,
.hdg_1 + .hdg_2,
figure + .btn {
  margin-top: 16px; }

.bdcpy + .btn {
  margin-top: 24px; }

.bdcpy_sm + .bdcpy_sm {
  margin-top: 8px; }

.hdg + .btn,
.hdg + .hList,
.hList + .hdg {
  margin-top: 48px; }

/* Adjustment Styles */
@media (min-width: 736px) {
  .hdg_huge {
    font-size: 83px; }

  .hdg_lrg {
    font-size: 52px; } }
@media (min-width: 800px) {
  .bdcpy {
    max-width: 538px; }

  .hdg_huge {
    font-size: 108px;
    margin-left: -10px; }

  .hdg_lrg {
    font-size: 72px; } }
@media (min-width: 1025px) {
  .hdg_huge {
    font-size: 120px;
    margin-left: -10px; }

  .hdg_lrg {
    font-size: 72px; } }
/* Mix Classes */
.mix-txt_block_lrg {
  display: block;
  margin: auto;
  max-width: 600px; }

.mix-txt_intro {
  font-size: 28px; }

.mix-txt_dark {
  color: #302f46; }

.mix-txt_accent {
  color: #cd5645 !important; }

.mix-txt_light {
  color: #ededee; }

/* ---------------------------------------------------------------------
 Intro Slider Section Styles
------------------------------------------------------------------------ */
.introSection {
  overflow: hidden;
  position: relative;
  z-index: 2;
  display: block;
  /*background-image: url(../images/curts-fresh-ingredients.jpg);
  @include background-size (cover);
  background-position: center;*/ }

@media (min-width: 736px) {
  .introSection-background_img {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    max-width: 200%;
    height: 100%; } }
@media (min-width: 1025px) {
  .introSection-background_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    max-width: 300%;
    height: 100%; } }
@media (max-width: 735px) {
  .introSection {
    background: url(../images/curts-fresh-ingredients-mobile.jpg);
    min-height: 400px;
    padding: 72px 0;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .introSection-background {
    display: none; }

  .introSection-background_img {
    display: none !important; } }
@media (min-width: 736px) {
  .introSection {
    padding: 72px 0; } }
@media (min-width: 800px) {
  .introSection {
    padding: 148px 0; } }
@media (min-width: 1025px) {
  .introSection {
    padding: 148px 0; } }
@media (min-width: 1200px) {
  .introSection {
    padding: 160px 0; } }
@media (min-width: 1300px) {
  .introSection {
    padding: 196px 0; } }
@media (min-width: 1500px) {
  .introSection {
    padding: 238px 0; }

  body, .globalHeader, .globalFooter {
    max-width: 1600px;
    margin: 0 auto; }

  html {
    background-color: #302f46; } }
/* ---------------------------------------------------------------------
 Slide in on scroll effect Styles
------------------------------------------------------------------------ */
.slideInOnScrollWrapper {
  overflow: hidden; }

/* Clear floats of children */
.slideInGroup:before,
.slideInGroup:after {
  content: " ";
  display: table; }

.slideInGroup:after {
  clear: both; }

/* Sides */
.slideInObject {
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: -moz-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s; }

/* Clear floats of children */
.slideInObject:before,
.slideInObject:after {
  content: " ";
  display: table; }

.slideInObject:after {
  clear: both; }

/* Initial state (hidden or anything else) */
.cbp-so-init .slideInObject {
  opacity: 0; }

.cbp-so-init .slideInObject_left {
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  transform: translateX(-80px); }

.cbp-so-init .slideInObject_right {
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  transform: translateX(80px); }

/* Animated state */
.slideInGroup.cbp-so-animate .slideInObject_left,
.slideInGroup.cbp-so-animate .slideInObject_right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1; }

.slideInObject > .hdg_1 {
  max-width: 560px; }

/* ---------------------------------------------------------------------
 REMOVE FOR PRODUCTION
------------------------------------------------------------------------ */
.hasTestStyles .icon, .hasTestStyles #snipcart-close:before {
  font-size: 4em;
  margin: 16px; }

.testHeading {
  margin-bottom: 36px;
  color: #cd5645 !important; }

.test_spread {
  margin-top: 48px; }

.hasTestStylesButtons > * {
  margin: 16px;
  display: block;
  float: left; }

.test {
  text-align: center;
  border-top: 1px solid #ededee;
  border-bottom: 1px solid #ededee;
  padding: 10px 0;
  margin-bottom: 20px; }

.hdg-1 {
  font-size: 24px;
  line-height: 1; }

.breakpointTester:after {
  display: inline-block;
  content: 'Base Viewport (Mobile)';
  width: 100px;
  position: absolute;
  top: 0;
  left: 10px;
  color: #575a5b;
  /*display: none;*/ }

@media (min-width: 736px) {
  .breakpointTester:after {
    content: 'Tablet Portrait'; } }
@media (min-width: 800px) {
  .breakpointTester:after {
    content: 'Tablet'; } }
@media (min-width: 1025px) {
  .breakpointTester:after {
    content: 'Desktop'; } }
@media (min-width: 1300px) {
  .breakpointTester:after {
    content: 'Desktop Plus'; } }
/* ---------------------------------------------------------------------
 Grid TESTING Styles REMOVE FOR PRODUCTION OR MOVE INTO Pattern Library Page
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Grid Styles
------------------------------------------------------------------------ */
.grid {
  overflow: hidden; }

.grid:before,
.grid:after {
  content: " ";
  display: table;
  box-sizing: border-box; }

.grid:after {
  clear: both; }

.grid_overflow:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.grid {
  display: block; }

.hasTestStyles .grid-col {
  background-color: #cd5645;
  margin: 5px 0;
  padding: 5px; }

.grid-col {
  width: 100%; }

@media (min-width: 800px) {
  /*****************************
      CUTTER GRID Styles
  *****************************/
  .grid-col {
    float: left; }

  .grid-col + .grid-col {
    margin-left: 2%; }

  .media_flip .grid-col + .media_flip .grid-col {
    margin-right: 2%; }

  .grid-col_1 {
    width: 6.5%; }

  .grid-col_2 {
    width: 15%; }

  .grid-col_3 {
    width: 23.5%; }

  .grid-col_4 {
    width: 32%; }

  .grid-col_5 {
    width: 40.5%; }

  .grid-col_6 {
    width: 49%; }

  .grid-col_7 {
    width: 57.49999%; }

  .grid-col_8 {
    width: 66%; }

  .grid-col_9 {
    width: 74.5%; }

  .grid-col_10 {
    width: 83%; }

  .grid-col_11 {
    width: 91.5%; }

  .grid-col_12 {
    width: 100%; }

  .grid-col.grid-col_push1 {
    margin-left: 10.5%; }

  .grid-col.grid-col_push1:first-child {
    margin-left: 8.5%; }

  .grid-col.grid-col_push2 {
    margin-left: 19%; }

  .grid-col.grid-col_push2:first-child {
    margin-left: 17%; }

  .grid-col.grid-col_push3 {
    margin-left: 27.5%; }

  .grid-col.grid-col_push3:first-child {
    margin-left: 25.5%; }

  .grid-col.grid-col_push4 {
    margin-left: 36%; }

  .grid-col.grid-col_push4:first-child {
    margin-left: 34%; }

  .grid-col.grid-col_push5 {
    margin-left: 44.5%; }

  .grid-col.grid-col_push5:first-child {
    margin-left: 42.5%; }

  .grid-col.grid-col_push6 {
    margin-left: 53%; }

  .grid-col.grid-col_push6:first-child {
    margin-left: 51%; }

  .grid-col.grid-col_push7 {
    margin-left: 61.49999%; }

  .grid-col.grid-col_push7:first-child {
    margin-left: 59.49999%; }

  .grid-col.grid-col_push8 {
    margin-left: 70%; }

  .grid-col.grid-col_push8:first-child {
    margin-left: 68%; }

  .grid-col.grid-col_push9 {
    margin-left: 78.5%; }

  .grid-col.grid-col_push9:first-child {
    margin-left: 76.5%; }

  .grid-col.grid-col_push10 {
    margin-left: 87%; }

  .grid-col.grid-col_push10:first-child {
    margin-left: 85%; }

  .grid-col.grid-col_push11 {
    margin-left: 95.5%; }

  .grid-col.grid-col_push11:first-child {
    margin-left: 93.5%; }

  /*****************************
    FLUSH GRID Styles
  *****************************/
  .grid_flush > .grid-col + .grid-col {
    margin-left: 0; }

  .grid_flush .grid-col_1 {
    width: 8.33333%; }

  .grid_flush .grid-col_2 {
    width: 16.64%; }

  .grid_flush .grid-col_3 {
    width: 25%; }

  .grid_flush .grid-col_4 {
    width: 33.33333%; }

  .grid_flush .grid-col_5 {
    width: 41.66667%; }

  .grid_flush .grid-col_6 {
    width: 50%; }

  .grid_flush .grid-col_7 {
    width: 58.33333%; }

  .grid_flush .grid-col_8 {
    width: 66.66667%; }

  .grid_flush .grid-col_9 {
    width: 75%; }

  .grid_flush .grid-col_10 {
    width: 83.33333%; }

  .grid_flush .grid-col_11 {
    width: 91.66667%; }

  .grid_flush .grid-col_12 {
    width: 100%; }

  .grid_flush .grid-col.grid-col_push1 {
    margin-left: 8.33333%; }

  .grid_flush .grid-col.grid-col_push2 {
    margin-left: 16.66667%; }

  .grid_flush .grid-col.grid-col_push3 {
    margin-left: 25%; }

  .grid_flush .grid-col.grid-col_push4 {
    margin-left: 33.33333%; }

  .grid_flush .grid-col.grid-col_push5 {
    margin-left: 41.66667%; }

  .grid_flush .grid-col.grid-col_push6 {
    margin-left: 50%; }

  .grid_flush .grid-col.grid-col_push7 {
    margin-left: 58.33333%; }

  .grid_flush .grid-col.grid-col_push8 {
    margin-left: 66.66667%; }

  .grid_flush .grid-col.grid-col_push9 {
    margin-left: 75%; }

  .grid_flush .grid-col.grid-col_push10 {
    margin-left: 83.33333%; }

  .grid_flush .grid-col.grid-col_push11 {
    margin-left: 91.66667%; } }
/* ---------------------------------------------------------------------
 Blocks Layout Styles
------------------------------------------------------------------------ */
.blocks {
  list-style: none;
  overflow: hidden;
  position: relative;
  margin-left: -2%; }

.blocks > * {
  float: left;
  margin-left: 2%; }

.blocks_2up > * {
  width: 48%; }

.blocks_3up > * {
  width: 31.3333333333%; }

.blocks_4up > * {
  width: 23%; }

.blocks_5up > * {
  width: 18%; }

.blocks_flush {
  margin-left: 0; }

.blocks_flush > * {
  float: left;
  margin-left: 0; }

.blocks_flush.blocks_2up > * {
  width: 50%; }

.blocks_flush.blocks_3up > * {
  width: 33.3333333333%; }

.blocks_flush.blocks_4up > * {
  width: 25%; }

.blocks_flush.blocks_5up > * {
  width: 20%; }

/* ---------------------------------------------------------------------
 Content Section Layout Styles
------------------------------------------------------------------------ */
.section {
  display: block;
  /*padding: $BOX_PADDING_LARGE 0; */ }

/* ---------------------------------------------------------------------
 lTable Styles: Table Layout styles for elements that need to layout horizontally,
 vertically align, and fill the container based on number of
 elements contained within.
------------------------------------------------------------------------ */
.lTable {
  display: table;
  width: 100%; }

.lTable > * {
  display: table-cell;
  vertical-align: middle; }

.lTable_2up > * {
  width: 50%; }

.mix-lTable_isRight {
  text-align: right; }

/* ---------------------------------------------------------------------
 Horizontal List Styles
------------------------------------------------------------------------ */
.hList {
  overflow: auto; }

.hList > li {
  float: left; }

/* ---------------------------------------------------------------------
 Vertical List Styles
------------------------------------------------------------------------ */
.vList {
  overflow: auto; }

.vList > li {
  display: block;
  margin-bottom: 24px; }

/* ---------------------------------------------------------------------
 Flexslider | Base, Large and small slider styles 
 http://www.woothemes.com/flexslider/
------------------------------------------------------------------------ */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
  background: none; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider_sm img {
  width: 100%;
  display: block; }

.flexslider_lrg img {
  height: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  position: relative;
  max-width: 100%;
  zoom: 1;
  z-index: 1;
  overflow: hidden; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  display: block;
  width: 40px;
  height: 60px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: #302f46;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-prev {
  opacity: 1 !important;
  left: 0px; }

.flexslider:hover .flex-next {
  opacity: 1 !important;
  right: 0px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  filter: alpha(opacity=0);
  cursor: default; }

.flex-direction-nav a:before {
  font-family: "curts-icons";
  font-size: 4em;
  display: inline-block;
  content: '\e011'; }

.flex-direction-nav a.flex-next:before {
  z-index: 10;
  content: '\e00e'; }

/* Control Nav */
/*.flexslider_lrg .flex-control-nav { display:none; }*/
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

@media (max-width: 735px) {
  .flexslider_lrg img {
    width: 100%;
    height: 800px; } }
@media (max-width: 735px) {
  .flexslider_lrg .slides img {
    height: 600px;
    display: block;
    padding-top: 72px;
    overflow-x: auto;
    max-width: none; }

  .flex-viewport {
    bottom: 30px; } }
.flexslider_lrg {
  margin-top: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.flexslider_lrg img {
  max-width: none;
  width: 100%;
  height: 100%; }

.flexslider_sm {
  height: 220px;
  overflow: hidden; }

.flexslider_sm img {
  height: auto;
  min-height: 250px;
  bottom: 0; }

@media (min-width: 736px) {
  .flexslider_lrg {
    height: 800px; }

  .flexslider_lrg img {
    height: 700px; }

  .flexslider_lrg {
    padding-top: 0px; }

  .flexslider_lrg img {
    display: inherit;
    height: 600px; }

  .flexslider_sm {
    height: 300px; }

  .flexslider_sm img {
    height: auto;
    min-height: 300px;
    bottom: 0; } }
@media (min-width: 1025px) {
  .flexslider_lrg {
    padding-top: 0px; }

  .flexslider_lrg img {
    display: inherit;
    height: 800px; }

  .flexslider_sm {
    height: 300px; } }
/* ---------------------------------------------------------------------
  Link & Button Styles
------------------------------------------------------------------------ */
.textLink {
  color: #cd5645;
  letter-spacing: 0;
  line-height: 1.6;
  font-family: Helvetica, Arial, sans-serif; }

.textLink_em {
  text-decoration: underline;
  display: block;
  margin-top: 16px; }

.em {
  text-decoration: underline;
  display: inline-block;
  color: #ededee;
  font-size: 1em; }

.textLink:hover {
  color: #ededee;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s; }

.mix-txt_underline {
  text-decoration: underline; }

.btn {
  border: 2px solid;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: "century-old-style-std", serif;
  padding: 16px 0;
  cursor: pointer; }

.btn_std {
  width: 244px;
  display: block; }

.btn_dark {
  border-color: #302f46;
  color: #302f46; }

.btn_dark:hover {
  background-color: #302f46;
  color: #ededee;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s; }

.btn_light {
  border-color: #ededee;
  color: #ededee; }

.btn_light:hover {
  background-color: #ededee;
  color: #302f46;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s; }

/* ---------------------------------------------------------------------
 Media Styles
------------------------------------------------------------------------ */
.img {
  display: block;
  max-width: 100%; }

.img_circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 10%;
  border-radius: 50%; }

.img_offset {
  margin-bottom: -36px; }

/* ---------------------------------------------------------------------
 Media Object Styles
------------------------------------------------------------------------ */
.media {
  overflow: hidden; }

.media-media {
  padding-top: 48px; }

.media-media img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.media-bd {
  overflow: hidden;
  padding-top: 72px; }

@media (min-width: 736px) {
  .media-media {
    float: left; }

  .media-bd {
    float: left;
    overflow: hidden; }

  .media-media img {
    width: 100%;
    height: auto;
    max-width: 330px; }

  .media-bd {
    overflow: hidden;
    padding-top: 56px; }

  .media_flip .media-media {
    float: left; }

  .media_flip .media-bd {
    float: right; } }
@media (min-width: 1025px) {
  .media-bd {
    padding-top: 96px; } }
@media (min-width: 1300px) {
  .media-bd {
    padding-top: 120px; } }
/* ---------------------------------------------------------------------
 Publicity Links Layout Styles
------------------------------------------------------------------------ */
.publicity {
  overflow: auto; }

.publicity .btn {
  text-transform: uppercase; }

.publicity li {
  margin: 1.6%; }

.btn_sm, .btn_lrg {
  width: 96.8%; }

@media (min-width: 800px) {
  .publicity li {
    margin: .8%; }

  .btn_sm, .btn_lrg {
    width: 48%; } }
@media (min-width: 1025px) {
  .btn_sm {
    width: 28%; }

  .btn_lrg {
    width: 38%; } }
/* ---------------------------------------------------------------------
 Image Gallery Styles
------------------------------------------------------------------------ */
@media (max-width: 735px) {
  .imageGallery img {
    width: 100%;
    float: left;
    display: block;
    padding: 3px; }

  img.imgAdjustMobile {
    padding-top: 1px; } }
.imageGallery {
  max-width: 940px;
  margin: 72px auto 0 auto; }

.imageGallery div {
  float: left; }

.imageGallery-Description {
  text-indent: -9999px; }

.span12 {
  width: 100%; }

.span9 {
  width: 75%; }

.span8 {
  width: 66.6666666%; }

.span6 {
  width: 50%; }

.span4 {
  width: 33.33333333%; }

.span3 {
  width: 25%; }

@media (min-width: 736px) {
  .imageGallery img {
    width: 100%;
    float: left;
    display: block;
    padding: 5px; } }
/* ---------------------------------------------------------------------
 Contact Styles
------------------------------------------------------------------------ */
.contactCurts {
  background-color: #302f46;
  color: #ededee;
  width: 100%;
  height: 100%;
  padding: 24px 24px; }

.contactCurts a {
  color: #cd5645;
  letter-spacing: 0; }

.contactCurts a:hover {
  color: #ededee;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

@media (min-width: 800px) {
  .contactCurts {
    padding: 48px 28px; } }
@media (min-width: 1025px) {
  .contactCurts {
    padding: 72px 28px; } }
/* ---------------------------------------------------------------------
 Two Column Eqaul Height Styles
------------------------------------------------------------------------ */
.equalHeightCols {
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: block;
  overflow: hidden;
  margin: 0 auto; }

.equalHeightCols-col {
  position: relative;
  width: 100%;
  float: none; }

.equalHeightCols-col_dark {
  background-color: #302f46; }

.equalHeightCols-col_light {
  background-color: #ededee; }

.equalHeightCols-col_white {
  background-color: white; }

.equalHeightCols-col + .equalHeightCols-col {
  margin-top: 16px; }

.equalHeightCols-col_img {
  display: none;
  background: none; }

.equalHeightCols-col_img img {
  margin: auto; }

@media (min-width: 736px) {
  .equalHeightCols-col {
    position: relative;
    width: 49%;
    float: left;
    margin-bottom: -99999px;
    padding-bottom: 99999px; }

  .equalHeightCols-col + .equalHeightCols-col {
    margin-left: 2%;
    margin-top: 0; }

  .equalHeightCols-col_img {
    display: inline-block; } }
/* ---------------------------------------------------------------------
 Shop Styles
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Product Filter Styles
------------------------------------------------------------------------ */
.searchable {
  visibility: visible;
  opacity: 100;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.searchable.notInResults {
  visibility: hidden;
  max-height: 0;
  margin-bottom: 0;
  opacity: 0; }

.simpleSearchList {
  overflow: hidden;
  font-family: "century-old-style-std", serif;
  color: #afadad;
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: 14px; }

.simpleSearchList > * {
  color: #ededee;
  padding: 12px 10px;
  border-bottom: 1px solid #282b39; }

.simpleSearchList > *:hover {
  color: #cd5645;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

/* ---------------------------------------------------------------------
 Shop Product Styles
------------------------------------------------------------------------ */
.collection {
  clear: both; }

.shopProduct {
  margin-bottom: 72px; }

.productList {
  overflow: hidden;
  width: 100%;
  margin: auto; }

.productList-collection {
  width: 100%;
  overflow: hidden; }

.productList-collection > * {
  width: 50%;
  padding: 10px;
  float: left; }

@media (max-width: 735px) {
  .simpleSearchList > * {
    border-bottom: 1px solid #282b39;
    margin-right: 0;
    float: none; }

  .simpleSearchList > *:hover {
    background: #282b39;
    color: #cd5645; } }
@media (min-width: 736px) {
  .simpleSearchList > *, .dropDownMenu-title {
    margin-right: 12px;
    cursor: pointer;
    padding: 6px;
    float: left;
    color: #afadad;
    border-bottom: none; }

  .dropDownMenu-title {
    color: #302f46; } }
@media (min-width: 800px) {
  .productList-collection > * {
    width: 33.33333%; } }
@media (min-width: 1025px) {
  .productList-collection > * {
    width: 25%; } }
.shopProduct-image {
  margin-bottom: 12px; }

.shopProduct-image img {
  width: 100%;
  margin-bottom: 12px; }

.shopProduct-title {
  text-align: center;
  color: #302f46;
  margin-bottom: 24px; }

.shopProduct-description {
  font-size: 13px; }

.shopProduct-addToCart {
  padding: 12px 16px;
  font-size: 12px; }

.is-currentFilter {
  color: #cd5645;
  text-decoration: underline; }

/* ---------------------------------------------------------------------
 Store List Styles
------------------------------------------------------------------------ */
.storeList > li {
  margin: 24px; }

/* ---------------------------------------------------------------------
 Drop Down Menu
------------------------------------------------------------------------ */
/* Make it Mobile Only */
@media (max-width: 735px) {
  .dropDownMenu {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 48px 0;
    padding: 12px 15px;
    background: #302f46;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s; }

  /* Arrow */
  .dropDownMenu:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #ededee transparent; }

  .dropDownMenu-title {
    margin-right: 0;
    padding: 0px;
    float: none;
    color: #ededee; }

  .dropDownMenu .dropDownMenu-list {
    position: absolute;
    top: 96%;
    left: 0px;
    right: 0px;
    border-radius: 0 0 3px 3px;
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
    background: #302f46;
    color: #ededee;
    max-height: 0;
    overflow: hidden; }

  .dropDownMenu .dropDownMenu-list li {
    display: block;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s; }

  .dropDownMenu.active .dropDownMenu-list {
    max-height: 400px; } }
@media (min-width: 736px) {
  .dropDownMenu {
    border-top: 1px solid #afadad;
    border-bottom: 1px solid #afadad;
    margin: 48px 0; } }
/* No CSS3 support: none */
/* ---------------------------------------------------------------------
 OVERWRITING snipcart's css
------------------------------------------------------------------------ */
#snipcart-overlay {
  background: none;
  background-color: #333131 !important;
  opacity: 0.5 !important;
  -webkit-opacity: 0.85 !important;
  z-index: 5; }

#snipcart-header {
  position: relative;
  height: 105px;
  background: #302f46 !important; }

#snipcart-footer {
  background: #302f46 !important; }

#snipcart-main-container {
  top: 15%; }

.globalHeader-cart_icon, .globalHeader-cart_text {
  color: #cd5645 !important; }

#snipcart-header #snipcart-title {
  font: 600 24px/108px 'Helvetica', Arial, sans-serif !important; }

#snipcart-header #snipcart-total span {
  font: 600 16px/38px 'Helvetica', Arial, sans-serif !important; }

#snipcart-main-container div#snipcart-actions, #snipcart-main-container div.snipcart-additional-option {
  background: white !important; }

#snipcart-main-container table.snipcart-list span.snipcart-product-name,
#snipcart-main-container table.snipcart-list span.snipcart-shipping-method-name,
#snipcart-main-container table.snipcart-list span.snipcart-shipping-method-price,
#snipcart-main-container table.snipcart-list span.snipcart-confirm-item-quantity,
#snipcart-main-container table.snipcart-list span.snipcart-confirm-item-price,
#snipcart-main-container table.snipcart-list span.snipcart-confirm-item-total-price,
#snipcart-main-content .snipcart-column span.snipcart-title,
#snipcart-step-content-emptycart .snipcart-full-width-text p,
#snipcart-main-container span.snipcart-unit-price, #snipcart-main-container span.snipcart-total-price {
  font: 600 15px 'Helvetica', Arial, sans-serif !important; }

#snipcart-main-container label,
#snipcart-main-container table.snipcart-list th,
ul#snipcart-steps li span.snipcart-step-text {
  font: 600 11px 'Helvetica', Arial, sans-serif !important; }

.snipcart-btn,
.snipcart-next {
  font: normal 400 12px/1.5 "century-old-style-std",sans-serif !important;
  text-shadow: none !important;
  background: none !important;
  border-radius: 0 !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  height: 36px !important;
  line-height: 36px !important;
  box-shadow: none !important; }

#snipcart-cartitems-continue-top {
  margin-top: 7px !important;
  line-height: 34px !important;
  height: 36px !important;
  background-color: none !important;
  border: 2px solid #ededee !important;
  color: #ededee !important; }

@media (max-width: 340px) {
  #snipcart-cartitems-continue-top {
    padding-left: 6px !important;
    padding-right: 6px !important; } }
#snipcart-cartitems-continue-top:hover {
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  background: #ededee !important;
  color: #302f46 !important; }

#snipcart-cartitems-checkout {
  background: #302f46 !important;
  border: 2px solid #302f46 !important;
  color: #ededee !important; }

#snipcart-cartitems-checkout:hover {
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  background: #cd5645 !important;
  border: 2px solid #cd5645 !important; }

.snipcart-mainaction, .snipcart-action {
  border: 2px solid #302f46 !important;
  margin-top: 24px !important;
  height: 38px !important;
  color: #302f46 !important; }

.snipcart-mainaction:hover, .snipcart-action:hover {
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  background: #302f46 !important;
  color: #ededee !important; }

.snipcart-previous, .snipcart-apply-promocode {
  color: #302f46 !important;
  border: none !important; }

.snipcart-previous:before {
  content: "< "; }

.snipcart-previous:hover {
  color: #cd5645 !important;
  background: none !important; }

#snipcart-promocodes div.snipcart-error-message {
  font: normal 400 12px/1.5 "century-old-style-std",sans-serif !important;
  letter-spacing: 2px !important; }

#snipcart-login-forgotpassword-link {
  color: #cd5645 !important;
  font: normal 400 12px/1.5 "century-old-style-std",sans-serif !important;
  text-decoration: underline !important;
  margin: 6px 0 24px 0 !important;
  display: block !important; }

#snipcart-close {
  height: 30px !important;
  width: 30px !important;
  font-size: 24 !important;
  background: none;
  text-indent: 0 !important;
  font-size: 0 !important; }

#snipcart-close:before {
  font-size: 33px;
  color: white; }

.notouch #snipcart-close:hover:before {
  color: #cd5645;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in; }

/* Form Elements */
#snipcart-main-container input[type=text], #snipcart-main-container input[type=password] {
  border-radius: 0 !important; }

@media (max-width: 580px) {
  #snipcart-header #snipcart-title {
    font: bold 18px/32px 'Helvetica', Arial, sans-serif !important;
    height: 30px !important; }

  #snipcart-header-total {
    position: relative;
    right: 10px !important; } }
#snipcart-powered, #snipcart-powered > .real-link {
  float: left !important;
  display: block !important;
  width: 100px !important;
  height: 45px !important;
  text-shadow: none !important;
  font-size: 50%; }

#snipcart-main-container table#snipcart-items .snipcart-item-quantity-triggers a {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  width: 17px !important;
  padding: 0 4px !important; }

a.snipcart-minus-quantity {
  line-height: 16px !important;
  padding: 0 6px !important; }

#snipcart-header #snipcart-header-total {
  margin-top: 51px !important;
  margin-right: 65px !important;
  border: 2px solid #282b39; }

/* ---------------------------------------------------------------------
 Utility Styles. Use wisely and sparingly.
------------------------------------------------------------------------ */
.center {
  margin-left: auto;
  margin-right: auto; }

.center_all {
  display: block;
  text-align: center; }

.txtCenter {
  text-align: center; }

.fl {
  float: left; }

.fr {
  float: right; }

@media (max-width: 735px) {
  .fl {
    float: none; }

  .fr {
    float: none; } }
/* ---------------------------------------------------------------------
 Visually Hidden Element. Will not be seen but it will be heard, retaining accessibility.
------------------------------------------------------------------------ */
.isVisuallyHidden,
.isVisuallyHidden_mobile {
  height: 0 !important;
  position: absolute !important;
  left: -9999px !important; }

@media (min-width: 1025px) {
  .isVisuallyHidden_mobile {
    height: auto !important;
    position: static !important;
    left: auto !important; }

  .isVisuallyHidden,
  .isVisuallyHidden_desktop {
    margin: 0 !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px 1px 1px 1px) !important;
    clip: rect(1px, 1px, 1px, 1px) !important; } }
/* ---------------------------------------------------------------------
 Hidden Element. Will not be seen nor heard.
------------------------------------------------------------------------ */
.isHidden,
.isHidden_mobile,
.isHidden_tabletPort {
  display: none; }

@media (min-width: 736px) {
  .isHidden_mobile {
    display: inherit; } }
@media (min-width: 800px) {
  .isHidden_tabletPort {
    display: inherit; }

  .isHidden_desktop {
    display: none; } }
