/* --------------------------------
    Original Author: Name
    Contributors: N/A
    Target Browsers: All Modern & IE9 +
    Media Type: Screen, Projection
    Width: 1450, 1024, 800, 480
   --------------------------------- */
/* ---------------------------------------------------------------------
 CSS Reset (Thanks Eric Meyer)
 ------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
  overflow-y: scroll; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Removes the clear "x" that is put in by IE10 browser */
input::-ms-clear {
  width: 0;
  height: 0; }

/* ---------------------------------------------------------------------
 Base Global Styles
------------------------------------------------------------------------ */
html,
body {
  height: 100%; }

/**
 * Standardize the baseline font
 *
 * 1. Using interpolation to fix the time where sass gets the `/` wrong and acts as division
 */
html,
body,
input,
button,
select,
textarea {
  /**
  *
  *
  * font: normal 400 {$BASE_FONT_SIZE}/$BASE_LINE_HEIGHT $SANS_SERIF; 
  */
  /* color: $GREY_DARKER; */ }

a {
  color: #fd5b1d;
  text-decoration: none; }

a[href="#"] {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* @include user-select(none); */ }

a:hover {
  color: #3399cc;
  cursor: pointer; }

a:active {
  /* color: $GREY_DARKER; */ }

p {
  font-size: 14px;
  line-height: 1.2857; }

audio {
  width: 100%; }

img {
  height: auto;
  max-width: 100%; }

/* ---------------------------------------------------------------------
 Global Page Wrap Styles
------------------------------------------------------------------------ */
.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px; }

.wrapper_full {
  max-width: 100%; }

/* ---------------------------------------------------------------------
 REMOVE FOR PRODUCTION
------------------------------------------------------------------------ */
.test {
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
  margin-bottom: 20px; }

.hdg-1 {
  color: gray;
  font-size: 24px;
  line-height: 1; }

.breakpointTester:after {
  color: blue;
  display: inline-block;
  content: 'Base Viewport (Mobile)';
  width: 100%; }

@media (min-width: 569px) {
  .breakpointTester:after {
    content: 'Tablet Portrait'; } }
@media (min-width: 800px) {
  .breakpointTester:after {
    content: 'Tablet'; } }
@media (min-width: 1025px) {
  .breakpointTester:after {
    content: 'Desktop'; } }
@media (min-width: 1450px) {
  .breakpointTester:after {
    content: 'Desktop Plus'; } }
/* ---------------------------------------------------------------------
 Grid TESTING Styles REMOVE FOR PRODUCTION OR MOVE INTO Pattern Library Page
------------------------------------------------------------------------ */
/* REMOVE FOR PRODUCTION */
.grid > * {
  background-color: lightblue;
  padding: 5px 0;
  font-size: 12px;
  text-align: center; }

.grid > * + * {
  border-left: 0; }

.grid_flush > .grid-col {
  background-color: lightgreen; }

.blocks > * {
  background-color: red; }

.grid + .grid {
  margin-top: 20px; }

/* END REMOVE FOR PRODUCTION */
/* ---------------------------------------------------------------------
 Grid Styles
------------------------------------------------------------------------ */
.grid {
  overflow: hidden; }

.grid:before,
.grid:after {
  content: " ";
  display: table;
  box-sizing: border-box; }

.grid:after {
  clear: both; }

.grid_overflow:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.grid {
  display: block; }

.grid-col {
  width: 100%; }

@media (min-width: 569px) {
  /*****************************
      CUTTER GRID Styles
  *****************************/
  .grid-col {
    float: left; }

  .grid-col + .grid-col {
    margin-left: 2%; }

  .grid-col_1 {
    width: 6.5%; }

  .grid-col_2 {
    width: 15%; }

  .grid-col_3 {
    width: 23.5%; }

  .grid-col_4 {
    width: 32%; }

  .grid-col_5 {
    width: 40.5%; }

  .grid-col_6 {
    width: 49%; }

  .grid-col_7 {
    width: 57.49999%; }

  .grid-col_8 {
    width: 66%; }

  .grid-col_9 {
    width: 74.5%; }

  .grid-col_10 {
    width: 83%; }

  .grid-col_11 {
    width: 91.5%; }

  .grid-col_12 {
    width: 100%; }

  .grid-col.grid-col_push1 {
    margin-left: 10.5%; }

  .grid-col.grid-col_push1:first-child {
    margin-left: 8.5%; }

  .grid-col.grid-col_push2 {
    margin-left: 19%; }

  .grid-col.grid-col_push2:first-child {
    margin-left: 17%; }

  .grid-col.grid-col_push3 {
    margin-left: 27.5%; }

  .grid-col.grid-col_push3:first-child {
    margin-left: 25.5%; }

  .grid-col.grid-col_push4 {
    margin-left: 36%; }

  .grid-col.grid-col_push4:first-child {
    margin-left: 34%; }

  .grid-col.grid-col_push5 {
    margin-left: 44.5%; }

  .grid-col.grid-col_push5:first-child {
    margin-left: 42.5%; }

  .grid-col.grid-col_push6 {
    margin-left: 53%; }

  .grid-col.grid-col_push6:first-child {
    margin-left: 51%; }

  .grid-col.grid-col_push7 {
    margin-left: 61.49999%; }

  .grid-col.grid-col_push7:first-child {
    margin-left: 59.49999%; }

  .grid-col.grid-col_push8 {
    margin-left: 70%; }

  .grid-col.grid-col_push8:first-child {
    margin-left: 68%; }

  .grid-col.grid-col_push9 {
    margin-left: 78.5%; }

  .grid-col.grid-col_push9:first-child {
    margin-left: 76.5%; }

  .grid-col.grid-col_push10 {
    margin-left: 87%; }

  .grid-col.grid-col_push10:first-child {
    margin-left: 85%; }

  .grid-col.grid-col_push11 {
    margin-left: 95.5%; }

  .grid-col.grid-col_push11:first-child {
    margin-left: 93.5%; }

  /*****************************
    FLUSH GRID Styles
  *****************************/
  .grid_flush > .grid-col + .grid-col {
    margin-left: 0; }

  .grid_flush .grid-col_1 {
    width: 8.33333%; }

  .grid_flush .grid-col_2 {
    width: 16.64%; }

  .grid_flush .grid-col_3 {
    width: 25%; }

  .grid_flush .grid-col_4 {
    width: 33.33333%; }

  .grid_flush .grid-col_5 {
    width: 41.66667%; }

  .grid_flush .grid-col_6 {
    width: 50%; }

  .grid_flush .grid-col_7 {
    width: 58.33333%; }

  .grid_flush .grid-col_8 {
    width: 66.66667%; }

  .grid_flush .grid-col_9 {
    width: 75%; }

  .grid_flush .grid-col_10 {
    width: 83.33333%; }

  .grid_flush .grid-col_11 {
    width: 91.66667%; }

  .grid_flush .grid-col_12 {
    width: 100%; }

  .grid_flush .grid-col.grid-col_push1 {
    margin-left: 8.33333%; }

  .grid_flush .grid-col.grid-col_push2 {
    margin-left: 16.66667%; }

  .grid_flush .grid-col.grid-col_push3 {
    margin-left: 25%; }

  .grid_flush .grid-col.grid-col_push4 {
    margin-left: 33.33333%; }

  .grid_flush .grid-col.grid-col_push5 {
    margin-left: 41.66667%; }

  .grid_flush .grid-col.grid-col_push6 {
    margin-left: 50%; }

  .grid_flush .grid-col.grid-col_push7 {
    margin-left: 58.33333%; }

  .grid_flush .grid-col.grid-col_push8 {
    margin-left: 66.66667%; }

  .grid_flush .grid-col.grid-col_push9 {
    margin-left: 75%; }

  .grid_flush .grid-col.grid-col_push10 {
    margin-left: 83.33333%; }

  .grid_flush .grid-col.grid-col_push11 {
    margin-left: 91.66667%; } }
/* ---------------------------------------------------------------------
 Blocks Layout Styles
------------------------------------------------------------------------ */
.blocks {
  list-style: none;
  overflow: hidden;
  position: relative;
  margin-left: -2%; }

.blocks > * {
  float: left;
  margin-left: 2%; }

.blocks_2up > * {
  width: 48%; }

.blocks_3up > * {
  width: 31.3333333333%; }

.blocks_4up > * {
  width: 23%; }

.blocks_5up > * {
  width: 18%; }

.blocks_flush {
  margin-left: 0; }

.blocks_flush > * {
  float: left;
  margin-left: 0; }

.blocks_flush.blocks_2up > * {
  width: 50%; }

.blocks_flush.blocks_3up > * {
  width: 33.3333333333%; }

.blocks_flush.blocks_4up > * {
  width: 25%; }

.blocks_flush.blocks_5up > * {
  width: 20%; }

/* ---------------------------------------------------------------------
 Content Section Layout Styles
------------------------------------------------------------------------ */
.section {
  display: block;
  padding: 20px 0; }

/* ---------------------------------------------------------------------
 Utility Styles. Use wisely and sparingly.
------------------------------------------------------------------------ */
.noSelect {
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.img {
  display: block;
  width: 100%;
  height: auto; }

/* ---------------------------------------------------------------------
 Visually Hidden Element. Will not be seen but it will be heard, retaining accessibility.
------------------------------------------------------------------------ */
.isVisuallyHidden,
.isVisuallyHidden_mobile {
  height: 0 !important;
  position: absolute !important;
  left: -9999px !important; }

@media (min-width: 1025px) {
  .isVisuallyHidden_mobile {
    height: auto !important;
    position: static !important;
    left: auto !important; }

  .isVisuallyHidden,
  .isVisuallyHidden_desktop {
    margin: 0 !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px 1px 1px 1px) !important;
    clip: rect(1px, 1px, 1px, 1px) !important; } }
/* ---------------------------------------------------------------------
 Hidden Element. Will not be seen nor heard.
------------------------------------------------------------------------ */
.isHidden,
.isHidden_mobile {
  display: none; }

@media (min-width: 1025px) {
  .isHidden_mobile {
    display: inherit; }

  .isHidden_desktop {
    display: none; } }
