/* ---------------------------------------------------------------------
 Two Column Eqaul Height Styles
------------------------------------------------------------------------ */

.equalHeightCols {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

.equalHeightCols-col {
    position: relative;
    width: 100%;
    float: none; 
}

.equalHeightCols-col_dark {
    background-color: $DARK;
}

.equalHeightCols-col_light {
    background-color: $GREY_LIGHTER;
}

.equalHeightCols-col_white {
    background-color: $WHITE;
}

.equalHeightCols-col + .equalHeightCols-col {
    margin-top: 16px;
}

.equalHeightCols-col_img {
    display: none;
    background: none;
}

.equalHeightCols-col_img img {
   margin: auto;
}

@media ($TABLET_PORTRAIT) {

    .equalHeightCols-col {
        position: relative;
        width: 49%;
        float: left; 
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

    .equalHeightCols-col + .equalHeightCols-col {
        margin-left: 2%;
        margin-top: 0;
    }

    .equalHeightCols-col_img {
        display: inline-block;
    }

}

