
/* ---------------------------------------------------------------------
 Image Gallery Styles
------------------------------------------------------------------------ */

@media ($MOBILE) {
	.imageGallery img {
		width: 100%;
		float: left;
		display: block;
		padding: 3px;
	}

	img.imgAdjustMobile {
		padding-top: 1px;
	}
}

.imageGallery {
	max-width: 940px;
	margin: 72px auto 0 auto;
}

.imageGallery div {
	float: left;
}

.imageGallery-Description {
	text-indent: -9999px;
}

.span12 {
	width: 100%;
}

.span9 {
	width: 75%;
}

.span8 {
	width: 66.6666666%;
}

.span6 {
	width: 50%;
}

.span4 {
	width: 33.33333333%;
}

.span3 {
	width: 25%;
}

@media ($TABLET_PORTRAIT) {
	.imageGallery img {
		width: 100%;
		float: left;
		display: block;
		padding: 5px;
	}
}