
/* ---------------------------------------------------------------------
 Icon Font Styles
------------------------------------------------------------------------ */

.icon, .logo {
    font-family: $FONT_ICONS;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    display: inline-block;
    font-size: 2em;
}

.icon + .icon {
	padding-left: 12px
}

.icon_light {
	color: $GREY_LIGHTER;
}

.icon_accent {
	color: $ACCENT;
}

.icon_dark {
	color: $DARK;
}

a > .icon:hover {
	color: $ACCENT;
	@include transition( ease .5s);
}

a > .icon_accent:hover {
	color: $GREY_LIGHTER;
	@include transition( ease .5s);
}

@media ($MOBILE) {
	.icon_buyLink  { 
	    font-size: 4em;
	    margin: 36px 16px;
	}

	.icon_buyLink_sm  { 
	    font-size: 2.3em;
	}

	.icon_buyLink_sm2  { 
	    font-size: 1.6em;
	}
}

.icon_buyLink {
	font-size: 3em;
	margin: 36px 10px;
}

.icon_buyLink_sm  { 
    font-size: 2.1em;
}

.icon_buyLink_sm2  { 
    font-size: 1.3em;
}

@media ($TABLET) {
	.icon_buyLink  { 
	    font-size: 3em;
	    margin: 36px 16px;
	}

	.icon_buyLink_sm  { 
	    font-size: 2em;
	}

	.icon_buyLink_sm2  { 
	    font-size: 1.6em;
	}
}

@media ($DESKTOP) {
	.icon_buyLink  { 
	    font-size: 4em;
	    margin: 36px 16px;
	}

	.icon_buyLink_sm  { 
	    font-size: 2.3em;
	}

	.icon_buyLink_sm2  { 
	    font-size: 1.6em;
	}
}


.toTop {
	position: fixed;
	bottom: 24px;
	right: 12px;
	z-index: 5000;
	font-size: 1.2em;
	color: $DARK_SHADE;
	cursor: pointer;
}

.toTop:hover {
	color: $ACCENT !important;
	@include transition (ease .3s);
}

.icon-cart:before {
	content: "\e000";
}
.icon-cart-2:before {
	content: "\e002";
}
.icon-spinner:before {
	content: "\e004";
}
.icon-basket-1:before {
	content: "\e875";
}
.icon-basket:before {
	content: "\e80d";
}
.icon-spin6:before {
	content: "\e837";
}
.icon-twitter-circled:before {
	content: "\e803";
}
.icon-facebook-circled:before {
	content: "\e802";
}
.icon-burger:before {
	content: "\e006";
}
.icon-byerlys:before {
	content: "\e007";
}
.icon-curts:before {
	content: "\e009";
}
.icon-jar2:before {
	content: "\e00d";
}
.icon-lunds:before {
	content: "\e00f";
}
.icon-target:before {
	content: "\e010";
}
.icon-kowalskis:before {
	content: "\e005";
}
.icon-hornbachers:before {
	content: "\e008";
}
.icon-festival:before {
	content: "\e00a";
}
.icon-cub:before {
	content: "\e00b";
}
.icon-arrow-right:before {
	content: "\e00e";
}
.icon-arrow-left:before {
	content: "\e011";
}
.icon-jar:before {
	content: "\e001";
}
