
/* ---------------------------------------------------------------------
 Intro Slider Section Styles
------------------------------------------------------------------------ */

.introSection {
	overflow: hidden;
	position: relative;
	z-index: 2;
	display: block;
	/*background-image: url(../images/curts-fresh-ingredients.jpg);
	@include background-size (cover);
	background-position: center;*/
}


@media ($TABLET_PORTRAIT) {
	.introSection-background_img {
		display:none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		min-width: 100%;
		max-width: 200%;
		height: 100%;
	}
}

@media ($DESKTOP) {
	.introSection-background_img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		min-width: 100%;
		max-width: 300%;
		height: 100%;
	}
}


@media ($MOBILE) {
	.introSection {
	    background: url(../images/curts-fresh-ingredients-mobile.jpg);
		min-height: 400px;
		padding: 72px 0;
		position: relative;
		@include background-size(cover);
	}

	.introSection-background {
		display: none;
	}

	.introSection-background_img {
		display: none !important;
	}
}

@media ($TABLET_PORTRAIT){
	.introSection {
		padding: 72px 0;
	}
}

@media ($TABLET){
	.introSection {
		padding: 148px 0;
	}
}

@media ($DESKTOP){
	.introSection {
		padding: 148px 0;
	}
}

@media ("min-width: 1200px") {
	.introSection {
		padding: 160px 0;
	}
}

@media ($DESKTOP_PLUS){
	.introSection {
		padding: 196px 0;
	}
}

@media (min-width: 1500px){
	.introSection {
		padding: 238px 0;
	}

	body, .globalHeader, .globalFooter {
	    max-width: 1600px;
	    margin: 0 auto;
	}

	html {
		background-color: $DARK;
	}
}

