
/* ---------------------------------------------------------------------
 Media Styles
------------------------------------------------------------------------ */

.img {
	display: block;
	max-width: 100%;
}

.img_circle {
	-moz-border-radius: 50%;
	-webkit-border-radius: 10%;
	border-radius: 50%;
}

.img_offset {
	margin-bottom: -36px;
}