
/* ---------------------------------------------------------------------
 Media Object Styles
------------------------------------------------------------------------ */

.media {
	overflow: hidden;
}

.media-media {
	padding-top: 48px;
}

.media-media img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.media-bd {
	overflow: hidden;
	padding-top: 72px;
}

@media ($TABLET_PORTRAIT) {

	.media-media {
		float: left;
	}

	.media-bd {
		float: left;
		overflow: hidden;
	}

	.media-media img {
	    width: 100%;
	    height: auto;
	    max-width: 330px;
	}

	.media-bd {
		overflow: hidden;
		padding-top: 56px;
	}

	.media_flip .media-media {
		float: left;
	}

	.media_flip .media-bd {
		float: right;
	}

}

@media ($DESKTOP) {
	.media-bd {
		padding-top: 96px;
	}
}

@media ($DESKTOP_PLUS) {
	.media-bd {
		padding-top: 120px;
	}
}