
/* ---------------------------------------------------------------------
 Publicity Links Layout Styles
------------------------------------------------------------------------ */

.publicity {
	overflow: auto;
}

.publicity .btn {
	text-transform: uppercase;
}

.publicity li {
	margin: 1.6%;
}

.btn_sm, .btn_lrg {
	width: 96.8%;
}

@media ($TABLET) {
	.publicity li {
		margin: .8%;
	}
	.btn_sm, .btn_lrg {
		width: 48%;
	}
}
@media ($DESKTOP) {
	.btn_sm {
		width: 28%;
	}

	.btn_lrg {
		width: 38%;
	}
}