
/* ---------------------------------------------------------------------
 Slide in on scroll effect Styles
------------------------------------------------------------------------ */

.slideInOnScrollWrapper {
	overflow: hidden;
}
/* Clear floats of children */
.slideInGroup:before,
.slideInGroup:after {
	content: " ";
	display: table;
}

.slideInGroup:after {
	clear: both;
}

/* Sides */
.slideInObject {
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.slideInObject:before,
.slideInObject:after {
	content: " ";
	display: table;
}

.slideInObject:after {
	clear: both;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .slideInObject {
	opacity: 0;
}

.cbp-so-init .slideInObject_left {
	-webkit-transform: translateX(-80px);
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);
}

.cbp-so-init .slideInObject_right {
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);
}

/* Animated state */
.slideInGroup.cbp-so-animate .slideInObject_left,
.slideInGroup.cbp-so-animate .slideInObject_right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

.slideInObject > .hdg_1 {
	max-width: 560px;
}


