/* ---------------------------------------------------------------------
 Drop Down Menu
------------------------------------------------------------------------ */
/* Make it Mobile Only */
@media ($MOBILE) {

    .dropDownMenu {
        position: relative;
        width: 100%;
        max-width: 400px;
        margin: 48px 0;
        padding: 12px 15px;
        background: $DARK;
        border-radius: 3px;
        cursor: pointer;
        outline: none;
        @include transition (ease .5s);
    }

     /* Arrow */
    .dropDownMenu:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: $GREY_LIGHTER transparent;
    }

    .dropDownMenu-title {
        margin-right: 0;
        padding: 0px;
        float: none;
        color: $GREY_LIGHTER;
    }

    .dropDownMenu .dropDownMenu-list {
        position: absolute;
        top: 96%;
        left: 0px;
        right: 0px;
        border-radius: 0 0 3px 3px;
        border-top: none;
        border-bottom: none;
        list-style: none;
        @include transition (ease .5s);
        background: $DARK;
        color: $GREY_LIGHTER;
        max-height: 0;
        overflow: hidden;
    }

    .dropDownMenu .dropDownMenu-list li {
        display: block;
        @include transition (ease .5s);
    }

    .dropDownMenu.active .dropDownMenu-list {
        max-height: 400px;
    }
}

@media ($TABLET_PORTRAIT){
    .dropDownMenu {
        border-top: 1px solid $GREY_MEDIUM;
        border-bottom: 1px solid $GREY_MEDIUM;
        margin: 48px 0;
    }
}

/* No CSS3 support: none */
