
/* ---------------------------------------------------------------------
 REMOVE FOR PRODUCTION
------------------------------------------------------------------------ */

.hasTestStyles .icon  { 
    font-size: 4em;
    margin: 16px;
}

.testHeading {
    margin-bottom:36px;
    color: $ACCENT !important;
}

.test_spread {
    margin-top: 48px;
}

.hasTestStylesButtons > * {
    margin: 16px;
    display: block;
    float: left;
}

.test {
    text-align: center;
    border-top: 1px solid $GREY_LIGHTER;
    border-bottom: 1px solid $GREY_LIGHTER;
    padding: 10px 0;
    margin-bottom: 20px;
}

.hdg-1 {
    font-size: 24px;
    line-height: 1;
}

.breakpointTester:after {
    display: inline-block;
    content: 'Base Viewport (Mobile)';
    width: 100px;
    position: absolute;
    top: 0;
    left:10px;
    color: $GREY;
    /*display: none;*/
}

@media ($TABLET_PORTRAIT) {
    .breakpointTester:after {
        content: 'Tablet Portrait';
    }
}

@media ($TABLET) {
    .breakpointTester:after {
        content: 'Tablet';
    }
}

@media ($DESKTOP) {
    .breakpointTester:after {
        content: 'Desktop';
    }
}

@media ($DESKTOP_PLUS) {
    .breakpointTester:after {
        content: 'Desktop Plus';
    }
}

/* ---------------------------------------------------------------------
 Grid TESTING Styles REMOVE FOR PRODUCTION OR MOVE INTO Pattern Library Page
------------------------------------------------------------------------ */

