
/* ---------------------------------------------------------------------
 Vertical List Styles
------------------------------------------------------------------------ */

.vList {
	overflow: auto;
}

.vList > li {
    display: block;
    margin-bottom: 24px;
}


