
/* ---------------------------------------------------------------------
 Utility Styles. Use wisely and sparingly.
------------------------------------------------------------------------ */

.center {
    margin-left: auto;
    margin-right: auto;
}

.center_all {
    display: block;
    text-align: center;
}

.txtCenter {
    text-align: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

@media ($MOBILE){
    .fl {
        float: none;
    }

    .fr {
        float: none;
    }
}