
/* ---------------------------------------------------------------------
 Hidden Element. Will not be seen nor heard.
------------------------------------------------------------------------ */

.isHidden,
.isHidden_mobile,
.isHidden_tabletPort {
    display: none;
}

@media ($TABLET_PORTRAIT) {
	.isHidden_mobile {
	    display: inherit;
    }

  
}

@media ($TABLET) {
    .isHidden_tabletPort {
	    display: inherit;
    }

      .isHidden_desktop {
        display: none;
    }
}