
/* ---------------------------------------------------------------------
 Global Page Wrap Styles
------------------------------------------------------------------------ */
.main {
    position: relative;
    max-width: 100%;
    z-index: 5;
}

@media ($TABLET) {

    .main {
        padding-top: 72px;
        position: relative;
        z-index: 5;
        display: block;
    }
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: $GLOBAL_WRAP_WIDTH;
    overflow: hidden;
}

@media ($MOBILE) {
	.wrapper {
		width: 96%;
		margin: auto;
		max-width: 100%;
	}
}

@media ($TABLET_PORTRAIT) {
	.wrapper {
		width: 96%;
		max-width: 800px;
	}
}

@media ($TABLET) {
	.wrapper {
		max-width: 1028px;
	}
}

@media ($DESKTOP) {
	.wrapper {
		max-width: 1000px;
	}
}

@media ($DESKTOP_PLUS) {
	.wrapper {
		max-width: 1250px;
	}
}

.wrapperFull {
	width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.wrapperFull_main {
	display: block;
	position: relative;
	z-index: 10;
}

.wrapperFull_spread {
	padding: 72px 0;
}

.wrapperFull_white {
	background-color: $WHITE;
}

.wrapperFull_light {
	background-color: $GREY_LIGHTER;
}

.wrapperFull_dark {
	background-color: $DARK;
}

.wrapperFull_wood {
	background: $TABLE;
}

.wrapper_cover {
	width: 96%;
	max-width: 100%;
	overflow: hidden;
}


